<div id="search">
  <% 10.times do |n| %>
    <div class="form-group panel panel-default search_item">
      <div class="panel-heading">商品名</div>
      <div class="panel-body">
        <div class="thumbnail_image"></div>
        <p>
          <a href="#" class="btn btn-default" style="width: 100%; margin:10px 0;" role="button">Favorite</a> 
          <a href="#" class="btn btn-warning" style="width: 100%;" role="button">Buy</a>
        </p>
      </div>
    </div>
  <% end %>
</div>