<div id="search">
  <%= will_paginate(@items, inner_window: 1, outer_window: 1, next_label: "NEXT", previous_label: "PREVIOUS") %>
  <% @items.each do |item| %>
    <div class="form-group panel panel-default search_item">
      <div class="panel-heading"><%= item.display_name %></div>
      <div class="panel-body">
        <div class="thumbnail_image"></div>
        <p>
          <a href="#" class="btn btn-default" style="width: 100%; margin:10px 0;" role="button">Favorite</a> 
          <a href="#" class="btn btn-warning" style="width: 100%;" role="button">Buy</a>
        </p>
      </div>
    </div>
  <% end %>
  <%= will_paginate(@items, inner_window: 1, outer_window: 1, next_label: "NEXT", previous_label: "PREVIOUS") %>
</div>