<div id="search">
  <% @histories.each do |history| %>
    <div class="form-group panel panel-default search_item">
      <div class="panel-heading"><%= history.item.display_name %></div>
      <div class="panel-body">
        <div class="thumbnail_image"></div>
      </div>
    </div>
  <% end %>
</div>