<div id="session" class="form-group panel panel-primary">
  <div class="panel-body">
    <p style="text-align: center;">
      <%= t(".complete") %><br/>
      <%= t(".message") %>
    </p>
  </div>
</div>