body {
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  padding: 20px;
  display: block;
  width: 1000px;
}

#search {
  display: inline-block;
  margin-bottom: 50px;
}

#show {
  width: 1024px;
  margin: 30px auto 0 auto;
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
  display: block;
}

.display {
  width: 700px;
  margin: 0 auto;
  display: block;
}

.position {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.account_box {
  td, th {
    padding: 5px;
  }
  .thumbnail_box {
    width: 150px;
    .account_thumbnail {
      width: 150px;
      height: 150px;
      background: #ccc;
      display: block;
    }
    p {
      padding-top: 60px;
      text-align: center;
      font-weight: bold;
    }
  }
  .address {
    width: 550px;
    b {
      width: 150px;
      display: block;
      padding: 10px;
      float: left;
      background: #eee;
      box-shadow: inset 1px 1px 1px #ccc;
    }
    span {
      width: 360px;
      display: block;
      padding: 10px;
      float: right;
    }
  }
}


.search_item {
  width: 170px;
  display: block;
  float: left;
  margin: 0 10px;
  .thumbnail_image {
    width: 140px;
    height: 140px;
    background: #ccc;
    display: block;
    margin: 0 auto;
    p {
      padding-top: 60px;
      text-align: center;
      font-weight: bold;
    }
  }
}

.pagination {
  width: 100%;
  margin: 0;
}

.count {
  font-size: 16px;
  font-weight: bold;
  color: orange;
}