<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Shophoo!!", :root, class: "navbar-brand", style: "font-weight: bold;" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag :search, class: "navbar-form navbar-left", role: "search", method: :get do %>
        <div class="form-group">
          <%= text_field_tag :q, "", class: "form-control", placeholder: t(".search") %>
        </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to t(".login"), :new_session, class: "btn btn-default navbar-btn", method: :get %></li>
      </ul>
    </div>
  </div>
</nav>